body {
	margin: 0;
	background: url('img/photo_1.svg') 65.05% 61.5%/16.5% 52% no-repeat,
		url('img/photo_2.svg') 85.2% 60%/14.9% 47% no-repeat,
		url('img/photo_3.svg') 100% 60%/10.8% 46.5% no-repeat,
		url('img/main_image.svg') 0 0/cover no-repeat;
}

.main-content__description,
.main-content__button {
	font-family: Museo Sans Cyrl, arial, helvetica, sans-serif;
}

.wrapper {
	height: 100vh;
	margin: 0 6% 0 10%;
}

.header-logo,
.header-menu {
	display: inline-block;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header-logo {
	padding: 88px 0;
}

.header-menu {
	display: flex;
	align-items: center;
}

.header-menu__item {
	padding: 0 19px 15px 18px;
	font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
	color: #F8EEE4;
	text-decoration: none;
	transition: opacity .7s;
}

.header-menu__item:last-child {
	padding-right: 0;
}

.header-menu__item:hover {
	opacity: .3;
}

.header-menu__item:hover:after {
	opacity: 1;
}

.hamburger-menu {
	display: none;
}

.main-content {
	position: relative;
}

.main-content__title_transparent {
	margin: 41px 0 0 8px;
	font: bold 280px/371px pt_serif, arial, helvetica, sans-serif;
	letter-spacing: 12px;
	width: 33%;
	color: #F8EEE4;
	opacity: 0.4;
}

.main-content__title_bright {
	font: bold 98px/130px pt_serif, arial, helvetica, sans-serif;
	color: #F8EEE4;
	position: absolute;
	top: 224px;
	left: 90px;
	letter-spacing: 4px;
}

.main-content__description {
	font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
	letter-spacing: -.1px;
	word-spacing: -.7px;
	color: #F8EEE4;
	width: 34%;
	padding: 0 0 56px 27px;
	margin: 0;
}

.main-content__button {
	font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
	padding: 17px 87px;
	text-decoration: none;
	color: #FFF;
	background: #D4BEA3;
	border-radius: 48px;
	margin-left: 31px;
	transition: opacity .7s;
	transition: background-color .7s;
}

.main-content__button:hover {
	background: #737569;
}

@media (max-width: 1366px) {
	.wrapper {
		width: 84%;
	}

	.header-logo {
		padding: 63px 0;
		width: 9.8%;
	}

	.header-menu__item {
		padding: 4px 12px 15px 13px;
		font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
	}

	.main-content__title_transparent {
		margin: 27px 0 0 8px;
		font: bold 194px/265px pt_serif, arial, helvetica, sans-serif;
		letter-spacing: 11px;
	}

	.main-content__title_bright {
		font: bold 70px/93px pt_serif, arial, helvetica, sans-serif;
		top: 160px;
		left: 64px;
		letter-spacing: 3px;
	}

	.main-content__description {
		font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
		letter-spacing: -.1px;
		word-spacing: -.7px;
		padding: 0 0 37px 20px;
	}

	.main-content__button {
		font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
		padding: 12px 61px;
		margin-left: 21px;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		width: 95%;
		margin-left: 3.6%;
	}

	.header-logo {
		width: 11.5%;
	}

	.header-menu__item {
		padding: 10px 12px 15px 12px;
	}

	.header-menu__item:last-child {
		padding-right: 24px;
	}

	.main-content__title_bright {
		top: 162px;
		letter-spacing: 2.7px;
	}

	.main-content__description {
		width: 41%;
		padding: 3px 0 37px 19px;
	}

	body {
		margin: 0;
		background: url('img/photo_1.svg') 64% 62.2%/22% 52% no-repeat,
			url('img/photo_2.svg') 92.6% 61%/20% 47% no-repeat,
			url('img/photo_3.svg') 112.6% 61%/14.5% 46.5% no-repeat,
			url('img/main_image.svg') 50%/cover;
	}
}

@media (max-width: 767px) {
	.header-logo {
		width: 17%;
	}

	.main-content__title_transparent {
		font: bold 179px/245px pt_serif, arial, helvetica, sans-serif;
	}

	.main-content__title_bright {
		font: bold 65px/86px pt_serif, arial, helvetica, sans-serif;
	}

	.main-content__description {
		text-align: center;
	}

	body {
		background: url('img/photo_1.svg') 72.2% 62.2%/16.5% 52% no-repeat,
			url('img/photo_2.svg') 92.6% 61%/14.9% 47% no-repeat,
			url('img/photo_3.svg') 107% 61%/10.8% 46.5% no-repeat,
			url('img/main_image.svg') 50%/cover;
	}
}

@media (max-width: 575px) {
	.header-menu {
		display: none;
	}

	.wrapper {
		width: 80%;
		margin-left: 3.6%;
	}

	body {
		background: url('img/main_image.svg') 52% -25px/700% 104%;
	}

	.header-logo {
		padding: 42px 0 42px 24px;
		width: 37%;
	}

	.main-content__title_transparent {
		margin: 10px 0 37px 6px;
		font: bold 165px/225px pt_serif, arial, helvetica, sans-serif;
		letter-spacing: 9px;
	}

	.main-content__title_bright {
		font: bold 60px/79px pt_serif, arial, helvetica, sans-serif;
		top: 147px;
		left: 61px;
	}

	.main-content__description {
		width: 98%;
		text-align: center;
		font: 18px/22px Museo Sans Cyrl, arial, helvetica, sans-serif;
		letter-spacing: -.1px;
		word-spacing: -.7px;
		padding: 0 0 47px 27px;
	}

	.main-content__button {
		font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
		padding: 12px 61px;
		margin-left: 63px;
	}

	.hamburger-menu {
		display: block;
		z-index: 1;
	}

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
		background-color: #172F27;
		top: -25px;
		right: -10px;
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
		background-color: #172F27;
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
		background-color: #172F27;
	}

	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 64px;
		right: 33px;
		width: 25px;
		height: 3px;
		z-index: 1;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #FCF5ED;
		transition-duration: 1s;
	}

	.menu__btn > span::before {
		content: '';
		top: -7px;
	}

	.menu__btn > span::after {
		content: '';
		top: 7px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 101%;
		height: 100%;
		margin: 0;
		padding: 175px 0;
		text-align: center;
		list-style: none;
		background-color: #E5E5E5;
		transition-duration: .5s;
	}

	.menu__item {
		display: block;
		padding: 12px 0;
		color: #000;
		font: bold 30px/36px Museo Sans Cyrl, arial, helvetica, sans-serif;
		text-decoration: none;
		transition-duration: .5s;
	}
}